<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
   PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 전체 패키지 경로	 -->
	<properties resource="kr/or/ddit/mybatis/config/dbinfo.properties"/>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<typeAliases>
		<typeAlias type="VO.noticeVO" alias="noticeVO"/>
		<typeAlias type="VO.MemVO" alias="memVO"/>
		<typeAlias type="VO.FoodVO" alias="foodVO"/>
		<typeAlias type="VO.FaqVO" alias="faqVO"/>
	</typeAliases>
	
	<environments default="oracleDB">
		<environment id="oracleDB">
			<transactionManager type="JDBC" />
			
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${pass}"/>
			</dataSource>
		</environment>
	</environments>
		<mappers>
			<mapper resource="kr/or/ddit/mybatis/mappers/Board-mapper.xml"/>
			<mapper resource="kr/or/ddit/mybatis/mappers/Member-mapper.xml"/>
			<mapper resource="kr/or/ddit/mybatis/mappers/Food-mapper.xml"/>
			<mapper resource="kr/or/ddit/mybatis/mappers/Faq-mapper.xml"/>
		</mappers>
</configuration>