<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	
	<!-- 공지사항 등록 -->
	<insert id="noticeInsert" parameterType="noticeVO">
		insert into notice (notice_no,notice_title,notice_content,notice_type)
          values(NOTICE_SEQ.NEXTVAL, #{notice_title}, #{notice_content}, #{notice_type})
	</insert>
	
</mapper>